/* Header */

.membership-score {
    display: inline-flex;
    align-items: center;
    background: #f1f1f1;
    color: #222;
    padding: 6px 15px;
    border-radius: 30px;
    font-family: sans-serif;
    font-weight: 600;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.membership-score .label {
    font-size: 13px;
    margin-left: 5px;
    opacity: 0.9;
}

.membership-score .score-num {
    font-size: 13px;
    opacity: 0.9;
}

.membership-score .icon {
    margin-right: 8px;
}